<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>ELO Ranking System</title>
</head>
<body>
    <div>
        <h3>Individual Rankings</h3>
        <table>
            <th>Rank</th>
            <th>Name</th>
            <th>ELO</th>
            <th>Singles Games played</th>
            <th>Doubles Games played</th>
            <tr th:each="user,iter: ${users}">
                <b><td th:text="${iter.index + 1} + ')'"></td></b>
                <td th:text="${user.name}" />
                <td th:text="${user.elo}" />
                <td th:text="${#lists.size(user.gamesPlayed)}" />
                <td th:text="${#lists.size(user.doublesGamesPlayed)}" />
            </tr>
        </table>
    </div>

    <div th:if="${not #lists.isEmpty(pairs)}">
        <h3>Most Successful Doubles Pairs</h3>
        <table>
            <th>Rank</th>
            <th>Pair</th>
            <th>Success Ratio</th>
            <tr th:each="pair,iter: ${pairs}">
                <b><td th:text="${iter.index + 1} + ')'"></td></b>
                <td th:text="${pair.player1.name} + ' and ' + ${pair.player2.name}"></td>
                <td th:text="${#numbers.formatDecimal(pair.successPercentage,2,2)} + '%'"></td>
            </tr>
        </table>
    </div>

    <div th:if="${not #lists.isEmpty(doublesGames)}">
        <h3>Last 10 Doubles Games</h3>
        <table>
            <th>Date</th>
            <th>Winners</th>
            <th>Losers</th>
            <tr th:each="game: ${doublesGames}">
                <td th:text="${game.timestamp}" />
                <td th:text="${game.winner1.name} + ' and ' + ${game.winner2.name}" />
                <td th:text="${game.loser1.name} + ' and ' + ${game.loser2.name}" />
            </tr>
        </table>
    </div>

    <div th:if="${not #lists.isEmpty(games)}">
        <h3>Last 10 Singles Games</h3>
        <table>
            <th>Date</th>
            <th>Winner</th>
            <th>Loser</th>
            <tr th:each="game: ${games}">
                <td th:text="${game.timestamp}" />
                <td th:text="${game.winner.name}" />
                <td th:text="${game.loser.name}" />
            </tr>
        </table>
    </div>

    <h3>Create new User</h3>
    <form action="#" th:action="@{/api/eloUsers}" th:object="${eloUser}" method="post">
        <table border="1">
            <tr>
                <td><label>Name: </label></td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>

    <h3>Create new <strong>Doubles</strong> Game</h3>
    <form action="#" th:action="@{/api/games/doubles}" th:object="${doublesGame}" method="post">
        <table border="1">
            <tr>
                <td><label>Winners: </label></td>
                <td>
                    <select th:field="${doublesGame.winner1}">
                        <option value="" th:text="'Select Winner...'"></option>
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                    </select>
                </td>
                <td>
                    <select th:field="${doublesGame.winner2}">
                        <option value="" th:text="'Select Winner...'"></option>
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Loser: </label></td>
                <td>
                    <select th:field="${doublesGame.loser1}">
                        <option value="" th:text="'Select Loser...'"></option>
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                    </select>
                </td>
                <td>
                    <select th:field="${doublesGame.loser2}">
                        <option value="" th:text="'Select Loser...'"></option>
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>

    <h3>Create new <strong>Singles</strong> Game</h3>
    <form action="#" th:action="@{/api/games/singles}" th:object="${game}" method="post">
        <table border="1">
            <tr>
                <td><label>Winner: </label></td>
                <td>
                    <select th:field="${game.winner}">
                        <option value="" th:text="'Select Winner...'"></option>
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Loser: </label></td>
                <td>
                    <select th:field="${game.loser}">
                        <option value="" th:text="'Select Loser...'"></option>
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>

<script>

</script>
</body>
</html>
